
<section class='container text-center py-5'>
  <h1>Writings</h1>
</section>

<section id="posts" class='container w-md'>
  <%= render 'shared/search' %>
  <br>
  <%= render 'public/posts/list', posts: @posts %>
</section>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "name": <%= Setting.site_name %>,
  "description": "A collection of our latest posts on technology, business, and more.",
  "blogPosts": [
    <% @posts.each_with_index do |post, index| %>
      <%= "," unless index == 0 %>{
        "@type": "BlogPosting",
        "headline": "<%= post.name %>",
        "datePublished": "<%= post.published_at.iso8601 %>",
        "url": "<%= post_url(post) %>",
        "description": "<%= post.summary %>"
      }
    <% end %>
  ]
}
</script>
