<section class='container text-center py-5'>
  <h1><%= @post.name %></h1>
  <p class='mt-3'>
    <%= format_date(@post.published_at) %>
  </p>
</section>

<section class='container w-md min-h-vh-75'>
  <div class='lead'>
    <%= @post.content %>
  </div>

  <%= render 'public/tags/tags', tags: @post.tags %>
</section>

<!-- Schema.org JSON-LD -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline":      "<%= @post.name %>",
  "datePublished": "<%= @post.published_at&.iso8601 %>",
  "dateModified":  "<%= @post.updated_at.iso8601 %>",
  "author": {
    "@type": "Person",
    "name": "<%= 'Morgan Lopes' %>"
  },
  "publisher": {
    "@type": "Organization",
    "name": "<%= Setting.site_name %>"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%= url_for(@post) %>"
  },
  "articleBody": "<%= @post.summary %>"
}
</script>
