<div id="<%= dom_id website %>">
  <p>
    <strong>Name:</strong>
    <%= website.name %>
  </p>

  <p>
    <strong>Tagline:</strong>
    <%= website.tagline %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= website.description %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= website.subdomain %>
  </p>

  <p>
    <strong>Custom domain:</strong>
    <%= website.custom_domain %>
  </p>

</div>
