
<%= simple_form_for([:admin, @post]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class='row'>
    <div class='col-sm-8'>
      <div class='field'>
        <%= f.input :name, input_html: { class: 'form-control' } %>
      </div>

      <% unless @post.slug.nil? %>
        <div class='field'>
          <%= f.label :slug %>
          <div class="input-group">
            <span class="input-group-text bg-white"><%= posts_url %>/</span>
            <%= f.text_field :slug, class: "form-control" %>
            <%= link_to post_url(@post), target: "_blank", title: 'Open in New Window', class: "btn btn-outline-form" do %>
              <i class="bi bi-arrow-up-right-square"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class='field'>
        <%= f.rich_textarea :content, class: 'form-control min-h-vh-50' %>
      </div>
    </div>

    <div class='col-sm-4'>
      <%= f.label :published_at, "Publish Date" %>
      <div class="input-group mb-3">
        <%= f.input_field :published_at, as: :string, class: 'form-control' %>
        <button class="btn btn-outline-form dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Options</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><h6 class="dropdown-header">Set Publish Date</h6></li>
          <% {
            "Today"                 => Time.zone.now.to_date.to_s,
            "Tomorrow"              => 1.day.from_now.to_date.to_s,
            "Next Unscheduled Date" => Post.next_unscheduled_date.to_s
          }.each do |name, value| %>
            <li><%= link_to name, "#", class: "targetValueChange dropdown-item", data: { target: '#post_published_at', value: value } %></li>
          <% end %>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Remove Date", "#", class: "text-danger targetValueChange dropdown-item", data: { target: '#post_published_at', value: "" } %></li>
        </ul>
      </div>

      <div class='field'>
      </div>

      <div class='field'>
        <%= f.input :is_pinned, input_html: { class: '' } %>
      </div>

      <div class='field'>
        <%= f.input :page_type, collection: Post.page_types.keys, input_html: { class: 'form-control' }, include_blank: false %>
      </div>

      <div class='field'>
        <%= f.input :visibility, collection: Post.visibilities.keys, input_html: { class: 'form-control' }, include_blank: false %>
      </div>
      
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
<% end %>

