<% content_for :title, "Posts" %>

<%= link_to "New Post", new_admin_post_path, class: 'btn btn-primary float-end mt-2' %>
<h1>Posts</h1>

<ul class="nav nav-underline my-3">
  <% {
    "All"       => nil,
    "Recent"    => 'recent',
    "Published" => 'published',
    "Drafts"    => 'drafts',
    "Scheduled" => 'scheduled'
  }.each do |name, scope| %>
    <% custom_class = 'active' if params[:scope] == name.downcase || (params[:scope].nil? && scope.nil?) %>
    
    <li class="nav-item">
      <%= link_to name, url_for(scope: scope, q: params[:q], layout: params[:layout]), class: "nav-link #{custom_class}" %>
    </li>
  <% end %>
</ul>

<div class='d-flex mb-3'>
  <%= render 'shared/search' %>
  <%= render 'admin/posts/layouts', btn_classes: 'ms-1' %>
</div>

<%= render "admin/posts/#{params[:layout] || 'table'}", posts: @posts %>

