<div id="<%= dom_id post %>">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Page type:</strong>
    <%= post.page_type %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= post.published_at %>
  </p>

  <p>
    <strong>Is pinned:</strong>
    <%= post.is_pinned %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= post.visibility %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= post.slug %>
  </p>

</div>
