<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body id='admin'>
    <%= render 'layouts/alerts' %>
    <%= render 'layouts/navigation/admin' %>

    <div id='main' class='container'>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
